#friends-display-link {
  text-align: center;
  display: block;
  background-color: #fafafa;
  padding: 15px 0px;
  font-size: 16px;
}
#friends-display-link i {
  color: rgba(14, 12, 12, 0.2);
  margin: 0px 5px 0px 10px;
}
